@model UI.Models.DeviceModelModel

@{
    ViewBag.Title = "Edit";
}

@section Scripts {

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery.simplemodal.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.8.20.js"></script>*@
    <link href="~/Content/DialogWindow/demo.css" rel="stylesheet" />
    <link href="~/Content/DialogWindow/basic.css" rel="stylesheet" />
    <link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {


            $('#btnAddParam').click(function () {
                $('#basic-modal-content').modal({
                    autoResize: true
                });
            })

            $('#btnNotifications').click(function () {
                //$('#btnAddParam').click(function () {
                $('#modalNotifications').html('');

                $('#modalNotifications').dialog({
                    autoOpen: false,
                    height: 500,
                    width: 400,
                    show: { effect: "toggle", duration: 800 },
                    zIndex: 10000000,
                    buttons: {
                        "Применить": function () {
                            $('#notif-emails').html('');
                            $('#notif-numbers').html('');

                            $("input#notif:checked").each(function () {

                                if ($(this).attr('objType') == 'email') {
                                    $('#notif-emails').append('<p>' + $(this).attr('objVal') + '</p>');
                                }
                                else {
                                    $('#notif-numbers').append('<p>' + $(this).attr('objVal') + '</p>');
                                }
                            });
                            $('#modalNotifications').dialog('close');
                        }
                    },
                    zIndex: 100000
                });
                $.ajax({
                    url: "/Users/NotificationsUsers",
                    type: "GET",
                    success: function (data) {
                        $('#modalNotifications').html(data);
                    }
                })
                $('#modalNotifications').dialog('open');
            })

            var itemCnt = 0;
            $('#btnParameterAdd').click(function () {
                var paramName = $('#ParameterName').val();
                var oid = $('#OID').val();
                var paramSelector = $('#parameters_list');
                var paramDataTypeName = $('#ddlParameterType :selected').text();
                var paramDataTypeId = $('#ddlParameterType').val();

                if (!paramName || !oid) {
                    alert('Заполнены не все поля');
                    return;
                }
                //"well" id="param" idCnt=
                itemCnt = $('div#param:last-child').attr("idCnt");
                //alert(itemCnt);
                itemCnt++;
                var notifEmailCnt = 0;
                var notifNumberCnt = 0;
                var html = '<div class="wellllt" id="param" idCnt="' + itemCnt + '">'
                      + '<div style="float: right;">'
                           + '<span class="btn-small btn-link" id="spanDeleteParam" idCnt="' + itemCnt + '" onclick="removeParam(event);"></span>'
                        + '</div>'
                        + '<div id="paramValues">'
                            + '<div id="divParamName" class="Dev_Zagalovok_2"><p>Название параметра:</p> '
                                + '<input type="text" id="paramName" name=Items[' + itemCnt + '].Name value=' + paramName + ' />'
                            + '</div>'
                            + '<div id="divParamOid" class="Dev_Zagalovok_2"><p>OID:</p> '
                                + '<input type="text" id="paramOid" name=Items[' + itemCnt + '].Oid_s value=' + oid + ' />'
                            + '</div>'
                            + '<div class="Dev_Zagalovok_2"><p>Тип:</p>'
                                + paramDataTypeName
                            + '</div>'
                            + '<div id="divParamIds">'
                                + '<input type="hidden" id="idModel" name="Items[' + itemCnt + '].IdModel" value="@Model.IdDeviceModel" />'
                                + '<input type="hidden" id="idDataType" name="Items[' + itemCnt + '].EnumDataType" value="' + paramDataTypeId + '" />'
                         + '</div>'
                    + '</div>'
                    + '<div class="polossa">'
                    + '</div>'
            + '</div>';
                //alert(html);
                paramSelector.append(html);
                itemCnt++;
                $('#basic-modal-content').modal('close');
            })

        })

            function removeNotif(e) {
                var curElement = $(e.currentTarget);

                var paramCntNotif = $(curElement).attr('paramCntNotif');
                var notifType = $(curElement).attr('notifType');
                //alert(notifType);
                //remove li
                var curLi = $(curElement).parent().parent('li');
                var curUl = $(curLi).parent('ul#notis');

                console.log('curLi = ' + $(curLi).prop('tagName'));
                $(curLi).remove();


                console.log('curUl = ' + $(curUl).prop('tagName'));

                //---
                var regexPattern = /Items\[[0-9]{1,}\]/gi;
                var index = 0;

                //alert(curUl.prop('tagName'));
                //var obj = $(curLi).parent('ul li').prop('tagName');

                curUl.children('li').each(function (ind, element) {

                    var nameInput = $(this).children('input[type="hidden"]').attr('name');
                    //alert(nameInput);
                    //var replacedAttr = nameInput.replace(regexPattern, 'Items[' + paramCntNotif + ']');
                    console.log(notifType);
                    if (notifType == 'email') {
                        replacedAttr = nameInput.replace(/EmailNotifications\[[0-9]{1,}\]/gi, 'EmailNotifications[' + index + ']');
                        console.log('inside email replaced = ' + replacedAttr);
                    } else {
                        replacedAttr = nameInput.replace(/PhoneNumbersNotifications\[[0-9]{1,}\]/gi, 'PhoneNumbersNotifications[' + index + ']');
                        console.log('inside number replaced = ' + replacedAttr);
                    }
                    console.log(nameInput);
                    $(this).children('input[type="hidden"]').attr('name', replacedAttr);

                })

            }

            function removeParam(e) {
                var cntParam = $(e.currentTarget).attr('idCnt');
                $("#param[idCnt='" + cntParam + "']").remove();
                updateParamIndexes();
            }

            function updateParamIndexes() {
                var index = 0;
                var regexPattern = /\[[0-9]{1,}\]/gi;
                var notisPattern = /Items\[[0-9]{1,}\]/gi;
                $('#parameters_list #param').each(function () {
                    $(this).attr("idCnt", index);
                    var selectorParamValues = $(this)
                        .children('div#paramValues');

                    //изменяю имя параметра
                    var selectorParamName = $(selectorParamValues)
                        .children('div#divParamName')
                        .children('input#paramName');
                    var nameAttrName = $(selectorParamName).attr('name');
                    var replaceAttrName = nameAttrName.replace(regexPattern, '[' + index + ']');
                    $(selectorParamName).attr('name', replaceAttrName);

                    //изменяю оид
                    var selectorParamOid = $(selectorParamValues)
                        .children('div#divParamOid')
                        .children('input#paramOid');
                    var nameAttrOid = $(selectorParamOid).attr('name');
                    var replaceAttrOid = nameAttrOid.replace(regexPattern, '[' + index + ']');
                    $(selectorParamOid).attr('name', replaceAttrOid);

                    //изменяю ид модели
                    var selectorParamIds = $(selectorParamValues)
                        .children('div#divParamIds')
                        .children('input#idModel');
                    var idAttrModel = $(selectorParamIds).attr('name');
                    var replaceIdModel = idAttrModel.replace(regexPattern, '[' + index + ']');
                    $(selectorParamIds).attr('name', replaceIdModel);

                    //изменяю ид производителя
                    var selectorParamIds = $(selectorParamValues)
                        .children('div#divParamIds')
                        .children('input#idMaker');
                    var idAttrMaker = $(selectorParamIds).attr('name');
                    var replaceIdMaker = idAttrMaker.replace(regexPattern, '[' + index + ']');
                    $(selectorParamIds).attr('name', replaceIdMaker);

                    //тип параметра
                    var selectorParamIds = $(selectorParamValues)
                        .children('div#divParamIds')
                        .children('input#idDataType');
                    var idAttrMaker = $(selectorParamIds).attr('name');
                    var replaceIdMaker = idAttrMaker.replace(regexPattern, '[' + index + ']');
                    $(selectorParamIds).attr('name', replaceIdMaker);

                    
                    //------изменяю нотификации
                    //emails
                    //var selectorNotisEmails = $(this)
                    //    .children("div#notifsEmails")
                    //    .children('ul#notis')
                    //    .children('li').each(function () {

                    //        var elem = $(this)
                    //        .children('input[type="hidden"]');

                    //        var nameAttr = $(elem).attr('name');
                    //        var replaceAttr = nameAttr.replace(notisPattern, 'Items[' + index + ']');
                    //        $(elem).attr('name', replaceAttr);
                    //    })
                    ////phones
                    //var selectorNotisEmails = $(this)
                    //    .children("div#notifsPhones")
                    //    .children('ul#notis')
                    //    .children('li').each(function () {

                    //        var elem = $(this)
                    //        .children('input[type="hidden"]');

                    //        var nameAttr = $(elem).attr('name');
                    //        var replaceAttr = nameAttr.replace(notisPattern, 'Items[' + index + ']');
                    //        $(elem).attr('name', replaceAttr);
                    //    })


                    index++;
                })
            }
    </script>
}


<style>
    .welll {
        width: 101%;
    }

        .welll div {
            width: 90%;
            font-family: Corbel;
            font-size: 14px;
            color: #221f1e;
            text-align: left;
            margin-left: 4px;
            height: 22px;
            overflow: hidden;
            font-style: italic;
            margin-bottom: 2px;
        }

            .welll div p {
                float: left;
                margin-right: 5px;
                width: 144px;
                text-align: center;
            }


    hr {
        /* margin-top: 20px; */
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .Devices_Add_Zag {
        height: 30px;
        margin: 0px 0px 10px 0px;
        font-size: 18PX;
        /* padding-left: 200PX; */
        /* border-radius: 2PX 2PX 2PX 1PX; */
        min-width: 739.1px;
        font-weight: 700;
        font-family: -webkit-body;
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        font-style: normal;
        padding-top: 2PX;
        position: relative;
        border-top: 1px solid #8A8988;
        border-bottom: 1px solid #8A8988;
        background: #edecec;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #edecec 1%, #c5c5c5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#edecec), color-stop(100%,#c5c5c5));
        background: -webkit-linear-gradient(top, #edecec 1%,#c5c5c5 100%);
        background: -o-linear-gradient(top, #edecec 1%,#c5c5c5 100%);
        background: -ms-linear-gradient(top, #edecec 1%,#c5c5c5 100%);
        background: linear-gradient(to bottom, #edecec 1%,#c5c5c5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edecec', endColorstr='#c5c5c5',GradientType=0 );
        color: #525353;
        box-shadow: 0px 2px 4px #838383;
    }

    .Add_Kn2 {
        height: 18px;
        /* padding: 19px; */
        /* margin-bottom: 25px; */
        background-color: #f5f5f5;
        /* border: 1px solid #e3e3e3; */
        /* border-radius: 4px; */
        /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
        /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
        font-size: 10PX;
        color: #1AA0E1;
        /* padding: 2PX; */
        /* padding-top: 0PX; */
        text-align: -webkit-auto;
        line-height: normal;
        margin-left: 30PX;
        margin-top: 1PX;
        float: left;
        border: none;
        position: absolute;
        top: 2px;
        left: 3px;
    }

    form {
        height:492px;
        display: run-in;
        /* padding: 19px; */
        /* margin-bottom: 20px; */
        background-color: #f5f5f5;
        border-left: 1px solid #525353;
        border-bottom: 1px solid #525353;
        border-right: 1px solid #525353;
    }

    .Devices_Add_Div {
        padding-left: 12px;
        background-color: #F5F5F5;
        position: relative;
        min-height: 192px;
        width: 38%;
        float: left;
        /* border-right: 1px solid #A7A6A5; */
        height: 90%;
        margin-right: 5px;
        min-height: 190px;
        margin-top: 10PX;
    }

    #ModelName, #IdDeviceType, #IdMaker {
        width: 56%;
        /* border-radius: 4px; */
        border: 1px solid #a7a6a5;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        height: 20px;
        margin-bottom: 5px;
        line-height: normal;
    }

    #paramOid, #paramName {
        width: 44%;
        border-radius: 4px;
        border: 1px solid #a7a6a5;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        height: 20px;
        line-height: normal;
    }



    .Contener {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: #F5F5F5;
    }

    .ZagH3 {
        color: #fff;
    }

    .Add_Kn_2 {
        /* display: inline-block; */
        padding: 2px 4px;
        /* margin-right: 3px; */
        /* margin-top: 0px; */
        font-size: 13px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 21px;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        position: absolute;
        bottom: 10PX;
        right: 16px;
    }
    div#paramValues {
        width: 93%;
        border-radius: 4px;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        height: 20px;
        line-height: normal;
    }

    #spanDeleteParam {
        background: url('/Content/images/icons/delete.png') center no-repeat;
        width: 14px;
        height: 14px;
        overflow: hidden;
        float: right;
        margin-top: 15px;
    }

    .NewH {
        width: 76.9%;
        border-radius: 0px;
        border: none;
        font-size: 16px;
        background-color: #F5F5F5;
        height: 26px;
        font-weight: 700;
        font-family: Arial,Calibri,Tahoma;
        text-align: center;
        letter-spacing: 1px;
        font-style: italic;
        padding-top: 2PX;
        position: relative;
        float: right;
        border-bottom: 1px solid #A7A6A5;
    }

    .DeviceModels_Add_Kn {
        padding: 2px 4px;
        /* margin-right: 3px; */
        /* margin-top: 0px; */
        font-size: 13px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 21px;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        position: absolute;
        top: 157px;
        left: 115px;
    }

    .editor-field {
        margin: 0px;
    }

    #simplemodal-container h3 {
        color: #00AFF0;
        text-align: center;
    }

    #enableTxts {
        margin-top: 10px;
    }

    .Dev_Zagalovok {
        font-family: Corbel;
        font-size: 14px;
        color: #5A5A58;
        text-align: left;
        margin-bottom: 2px;
        height: 21px;
        font-style: normal;
        text-shadow: 0px 0px 2px #fff;
        /* align-content: flex-start; */
        /* text-align: start; */
        float: left;
        width: 150PX;
        text-align: center;
    }

    .Dev-Zagalovok {
        font-family: Corbel;
        font-size: 15px;
        color: #00AFF0;
        text-align: left;
        /* margin-bottom: 2px; */
        height: 21px;
        font-style: normal;
        font-weight: 500;
        width: 147px;
        float: left;
        margin-bottom: 5px;
    }


    .alert {
        margin-bottom: 0px;
        padding: 6px;
    }

        .alert p {
            text-align: center;
            font-size: 14px;
        }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
        height: 0px;
        width: 1px;
        overflow: hidden;
    }

  
 .Dev_Zagalovok_2    {
        width: 100%;
        font-family: Corbel;
        font-size: 14px;
        color: #221f1e;
        text-align: left;
        margin-left: 4px;
        height: 22px;
        overflow: hidden;
        font-style: italic;
        margin-bottom: 2px;
        padding: 0px;
    }


    .Dev_Zagalovok_2 > p {
        width: 170px;
        margin-left: 0px;
        float: left;
        text-align:center;
        margin-top:2px;
    }

    .device-parameters {
        width: 40%;
        float: right;
        border-radius: 0px;
        /* margin-top: 2px; */
        background-color: #F5F5F5;
        /* padding-left: 10px; */
        min-height: 20px;
        /* background-color: #f5f5f5; */
        /* border: 1px solid #e3e3e3; */
        -webkit-box-shadow: inset 0 1px 1px #F5F5F5;
        box-shadow: inset 0 1px 1px #F5F5F5;
        border-left: none;
        /* border-right: 1px solid #fff; */
        position: relative;
        margin-right: 150px;
    }

    .description {
        float: right;
        /* border: 1px solid #000; */
        width: 36.456%;
        min-height: 191px;
        margin-top: -100px;
        /* margin-left: -17px; */
        border-left: 1px solid #D8D7D6;
    }

    .polossa {
        position:absolute;
        top:50px;
        width: 98.5%;
        height: 2px;
        border-top: 1px solid #D8D7D6;
        border-bottom: 1px solid #fff;
    }

    .Add_Kn_3 {
        overflow: hidden;
        width: 19px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 24px;
        background: url('/Content/images/icons/0010.png') center no-repeat;
        border: none;
        /* box-shadow: 0px 0px 3px #fff; */
        margin-right: 20px;
    }

    .polossa_2 {
        width: 94%;
        background: #A7A6A5;
        height: 2px;
        position: absolute;
        top: 188px;
        left: 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #A7A6A5;
    }

    #ParameterName, #OID {
        width: 300px;
        border: 1px solid #a7a6a5;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        height: 20px;
        line-height: normal;
        margin-bottom: 5px;
    }
    .ImagesAddNotif {
        position: absolute;
        top: 5px;
        right: 65px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        background: url('/Content/images/icons/OPOV.png') center no-repeat;
        border:none;
    }

    .Add_Kn_Ok {
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        right: 35px;
        top: 5px;
        background: url('/Content/images/icons/images.png') center no-repeat;
        border: none;
    }

    .Add_Kn {
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        top: 5px;
        background: url('/Content/images/icons/images2.png') center no-repeat;
        border: none;
    }
    .editor-label {
        float: left;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-right: 5px;
    }
    .first {
        width: 100%;
        overflow: hidden;
        height: 25px;
        margin-bottom: 10px;

    }
    .second div {
        margin-left:25px;
        margin-right:20px;
    }
    #btnParameterAdd {
        position: absolute;
        top: 280px;
        right: 22px;
    }
    #parameters_list {
        width: 45%;
        float: right;
        border-radius: 0px;
        /* margin-top: 2px; */
        background-color: #F5F5F5;
        /* padding-left: 10px; */
        min-height: 250px;
        /* background-color: #f5f5f5; */
        /* border: 1px solid #e3e3e3; */
        -webkit-box-shadow: inset 0 1px 1px #F5F5F5;
        box-shadow: inset 0 1px 1px #F5F5F5;
        /* border-left: none; 
        border: 1px solid #000;*/
        position: relative;
        margin-right: 150px;
    }
    .wellllt {
        width: 79%;
        float: right;
        height: 55px;
        border-radius: 0px;
        /* margin-top: 2px; */
        background-color: #F5F5F5;
        /* padding-left: 10px; */
        min-height: 20px;
        /* background-color: #f5f5f5; */
        /* border: 1px solid #e3e3e3; */
        -webkit-box-shadow: inset 0 1px 1px #F5F5F5;
        box-shadow: inset 0 1px 1px #F5F5F5;
        border-left: none;
        /* border-right: 1px solid #fff; */
        position: relative;
        margin-right: 45px;
    }

</style>



@using (Html.BeginForm("Edit", "DeviceModels", FormMethod.Post, new { style="overflow:auto;" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend class="Devices_Add_Zag">Редактирование моделей устройств
            <input type="submit" value="" class="Add_Kn_Ok" />        
            <input type="button" id="btnAddParam" class="ImagesAddNotif" value="" />
        </legend>
        @if (ViewData["message_error"] != null)
        {
            <div class="alert alert-error field-validation-error">
                <p>@ViewData["message_error"]</p>
            </div>
        }
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success">
                <p>@ViewData["message"]</p>
            </div>

        }

        <div class="Devices_Add_Div">
            @*<div class="device-well">*@
                <div class="editor-label">
                    @Html.HiddenFor(model => model.IdDeviceModel)
                </div>

                <div class="Dev_Zagalovok">
                    @Html.LabelFor(model => model.ModelName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ModelName)
                    @Html.ValidationMessageFor(model => model.ModelName)
                </div>

                <div class="Dev_Zagalovok">
                    Тип устройства
                </div>
                <div class="editor-field">
                    @Html.DropDownList("IdDeviceType", (ViewData["types"] as SelectList))
                </div>

                <div class="Dev_Zagalovok">
                    Производитель
                </div>
                <div class="editor-field">
                    @Html.DropDownList("IdMaker", (ViewData["makers"] as SelectList))
                </div>

@*                <p>
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </p>*@
            @*</div>*@
        </div>
     @*   <div class="device-parameters">*@
            @*<input type="button" id="btnAddParam" class="btn btn-link" value="Добавить параметр" />*@
            @if (Model.Items != null)
            {
                int cnt = 0;

                <div id="parameters_list">
                    @foreach (var item in Model.Items)
                    {
                        <div class="wellllt" id="param" idCnt="@cnt">
                            <div>
                                <div class="btn-small btn-link" id="spanDeleteParam" idCnt="@cnt" onclick="removeParam(event);"></div>
                            </div>
                            <div id="paramValues">
                                <div id="divParamName" class="Dev_Zagalovok_2">
                                    <p>Название параметра: </p>
                                    <input type="text" id="paramName" name="Items[@cnt].Name" value="@item.Name" />
                                </div>
                                <div id="divParamOid" class="Dev_Zagalovok_2">
                                    <p>OID: </p>
                                    <input type="text" id="paramOid" name="Items[@cnt].Oid_s" value="@item.Oid_s" />
                                </div>
                                <div>
                                    <p>Тип: </p>
                                    <span>@item.EnumDataTypeName</span>
                                </div>
                                <div id="divParamIds">
                                    <input type="hidden" id="idModel" name="Items[@cnt].IdModel" value="@item.IdModel" />
                                    <input type="hidden" id="idMaker" name="Items[@cnt].IdItem" value="@item.IdItem" />
                                    <input type="hidden" id="idDataType" name="Items[@cnt].EnumDataType" value="@item.EnumDataType" />
                                </div>
                            </div>
                            <div class="polossa"></div>
                        </div>
                        {
                            cnt++;
                        }
                    }
                </div>
            }
        @*</div>*@

        <div id="basic-modal-content">
            <h3>Добавление параметра</h3>
             <hr style="margin-bottom: 16px; border: 0px; border-top: 1px solid #eee;" />
            <div>
                <div>
                    <div style="float: left; width: 100%; border-color: green; height: 180px;margin-left:22px; padding-left: 0px;">

                        <div class="Dev-Zagalovok">
                            Название параметра
                        </div>
                        <div class="editor-field">
                            @Html.TextBox("ParameterName")
                        </div>

                        <div class="Dev-Zagalovok">
                            OID параметра
                        </div>
                        <div class="editor-field">
                            @Html.TextBox("OID")
                        </div>

                        <div class="Dev-Zagalovok">
                            Тип параметра
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("ddlParameterType", (ViewData["parametersDataTypes"] as SelectList))
                        </div>
                        <input type="button" value="Добавить" class="btn btn-primary" id="btnParameterAdd" />
                    </div>
                </div>

            </div>

        </div>
    </fieldset>
}
