@model IEnumerable <DomainModel.EfModels.DeviceModel >

@{
    Layout = null;
}
<h2 class="MainPanel_Index_Zag">
    Список моделей
    <p class="Sett_Ind_kn">
        @Html.ActionLink("Новая модель", "Add")
    </p>
</h2>
    <table class="table table-hover">
        <tr>
            <th>
                Название
            </th>
            <th>
                Производитель
            </th>
            <th>
                Тип устройства
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maker.MakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.DeviceTypeName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.IdDeviceModel }) |
                @Html.ActionLink("Удалить", "Remove", new { id=item.IdDeviceModel })
            </td>
        </tr>
    }
    
    </table>
