@model UI.Models.MakerModel

@{
    ViewBag.Title = "Edit";
}

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend></legend>
            @if (ViewData["message_error"] != null)
            {
                <div class="alert alert-error field-validation-error">
                    <p>@ViewData["message_error"]</p>
                </div>
            }
            @if (ViewData["message"] != null)
            {
                <div class="alert alert-success">
                    <p>@ViewData["message"]</p>
                </div>

            }
            <div class="editor-label">
                @Html.HiddenFor(model => model.IdMaker)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MakerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MakerName)
                @Html.ValidationMessageFor(model => model.MakerName)
            </div>

            <p style="margin-top:10px;">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </p>
        </fieldset>
    }
