@{
    ViewBag.Title = "Параметры системы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        $(function () {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>
}
<div class="contentInner" style="min-height:500px;">
    <div class="header">
        <h1 class="Sett_Ind_Zag">@ViewBag.Title</h1>
    </div>

    <div id="tabs">
        <ul>
            <li>@Html.ActionLink("Пользователи", "GetAll", "Users")</li>
            <li>@Html.ActionLink("Заказчики", "GetAll", "Customers")</li>
            <li>@Html.ActionLink("Типы устройств", "GetAll", "DeviceTypes")</li>
            <li>@Html.ActionLink("Производители оборудования", "GetAll", "Makers")</li>
            <li>@Html.ActionLink("Модели устройств", "GetAll", "DeviceModels")</li>
            <li>@Html.ActionLink("Устройства", "GetAll", "Devices")</li>
            <li>@Html.ActionLink("Оповещения", "Index", "Notifications")</li>
            <li>@Html.ActionLink("Отчеты", "List", "Reports")</li>
        </ul>
        <div id="tabs-1">
        </div>

        <div id="tabs-2">
        </div>

        <div id="tabs-3">
        </div>
    </div>
</div>
