@model UI.Models.CustomerModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {


    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Добавление заказчика</legend>
        @if (ViewData["message_error"] != null)
        {
            <div class="alert alert-error field-validation-error">
                <p>@ViewData["message_error"]</p>
            </div>
        }
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success">
                <p>@ViewData["message"]</p>
            </div>

        }
        <div class="well">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerName)
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ManagerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ManagerName)
                @Html.ValidationMessageFor(m => m.ManagerName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ManagerEmail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ManagerEmail)
                @Html.ValidationMessageFor(m => m.ManagerEmail)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ManagerPhone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ManagerPhone)
                @Html.ValidationMessageFor(m => m.ManagerPhone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Comment)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.Comment)
                @Html.ValidationMessageFor(m => m.Comment)
            </div>



            <p style="margin-top: 10px;">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </p>
        </div>
    </fieldset>
}
