@model UI.Models.DeviceModel

@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.simplemodal.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>
<link href="~/Content/DialogWindow/demo.css" rel="stylesheet" />
<link href="~/Content/DialogWindow/basic.css" rel="stylesheet" />
<link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">*@

<script src="~/Scripts/My/DdlsAjaxFill.js"></script>
<script>

   

    $(document).ready(function () {

        fillDepartmentsDdl();
        $("#BranchOfficesDdl").change(function () {
            fillDepartmentsDdl();
        });

        var itemCnt = 0;
        $('#btnAddParam').click(function () {

            var idModel = $('#IdModel').val();
            if (idModel == null || idModel == 'undefined') {
                alert('Выберите модель устройства');
                return;
            }

            $('#parametersList').dialog({
                autoOpen: false,
                height: 500,
                width: 400,
                show: { effect: "toggle", duration: 800 },
                zIndex: 10000000,
                buttons: {
                    "Добавить": function () {
                        $('#paramCheck:checked').each(function () {

                            var idParam = $(this).attr('idParam');
                            var paramName = $(this).attr('paramName');
                            var paramOid = $(this).attr('paramOid');

                            var html = '<div class="well">'
                              + '<div><b>Название параметра: </b>' + paramName + '</div>'
                              //+ '<input type="hidden" name=Items[' + itemCnt + '].Name value=' + paramName + ' />'
                              + '<div><b>OID: </b>' + paramOid + '</div>'
                              //+ '<input type="hidden" name=Items[' + itemCnt + '].Oid_s value=' + paramOid + ' />'
                              + '<div>'
                              + '<div id="concreteValues">'
                                    + '<p>Частота опроса: </p>'
                                    + '<input type="text" name="Items[' + itemCnt + '].DeltaT" value=""/>'
                                    + '<input type="hidden" name="Items[' + itemCnt + '].Id" value="' + idParam + '" />'
                              + '<div>'
                            + '</div>'
                            itemCnt++;
                            $('.device-parameters').append(html);
                        })
                    }
                },
                zIndex: 100000
            });

            $.ajax({
                url: "/DeviceModels/GetParametersByModel",
                type: "GET",
                data: { idModel: idModel },
                success: function (data) {
                    $('#parametersList').html(data);
                }
            })
            $('#parametersList').dialog('open');

        })

        var itemCnt = 0;
        $('#btnParameterAdd').click(function () {
            var paramName = $('#ParameterName').val();
            var oid = $('#OID').val();
            var paramSelector = $('.device-parameters');

            if (!paramName || !oid) {
                alert('Заполнены не все поля');
                return;
            }
            var notifEmailCnt = 0;
            var notifNumberCnt = 0;
            var html = '<div class="well">'
                    + '<div><b>Название параметра: </b>' + paramName + '</div>'
                    + '<input type="hidden" name=Items[' + itemCnt + '].Name value=' + paramName + ' />'
                    + '<div><b>OID: </b>' + oid + '</div>'
                    + '<input type="hidden" name=Items[' + itemCnt + '].Oid_s value=' + oid + ' />'
                    + '<p class="btn btn-link">Оповещения по Email:</p>'
                    + '<div>'
                        + '<ul>';
            //+ '</div>'
            $('#notif-emails p').each(function () {
                var tag = '<li>' + $(this).html() + '</li>';
                tag += '<input type="hidden" name=Items[' + itemCnt + '].EmailNotifications[' + notifEmailCnt + '] value=' + $(this).html() + ' />';
                notifEmailCnt++;
                html += tag;
            })
            html += '</ul>'
            + '</div>'
            + '<p class="btn btn-link">Оповещения по телефону:</p>'
            + '<div>'
                  + '<ul>';

            $('#notif-numbers p').each(function () {
                var tag = '<li>' + $(this).html() + '</li>';
                tag += '<input type="hidden" name=Items[' + itemCnt + '].PhoneNumbersNotifications[' + notifNumberCnt + '] value=' + $(this).html() + ' />';
                notifNumberCnt++;
                html += tag;
            })

            html += '</ul>'
            + '</div>'
            + '</div>';
            //alert(html);
            paramSelector.append(html);
            itemCnt++;
            $('#basic-modal-content').modal('close');
        })

        $('#enableTxts').click(function () {
            if ($('input#Login').attr('readonly')) {
                $('input#Login').removeAttr('readonly');
            } else {
                $('input#Login').attr('readonly', 'true');
            }

            if ($('input#Password').attr('readonly')) {
                $('input#Password').removeAttr('readonly');
            } else {
                $('input#Password').attr('readonly', 'true');
            }
            
        })

    })

</script>
<h2>Добавление нового устройства</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        @if (ViewData["message_error"] != null)
        {
            <div class="alert alert-error field-validation-error">
                <p>@ViewData["message_error"]</p>
            </div>
        }
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success">
                <p>@ViewData["message"]</p>
            </div>

        }
        <div class="device-wrap">
            <div class="well device-well">

                <div class="editor-label">
                    @*@Html.HiddenFor(model => model.IdDevice)*@
                </div>
                @*<div class="editor-field">
            @Html.EditorFor(model => model.IdDevice)
            @Html.ValidationMessageFor(model => model.IdDevice)
        </div>*@

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Ip_s)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ip_s)
                    @Html.ValidationMessageFor(model => model.Ip_s)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Port)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Port)
                    @Html.ValidationMessageFor(model => model.Port)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Login)
                </div>
                <div class="editor-field">
                    @if (ViewData["defaultLogin"] != null)
                    {
                        @*@Html.EditorFor(model => model.Login, new {Value = ViewData["defaultLogin"], @readonly = true})
                        *@
                        <input type="text" id="Login" name="Login" value="@ViewData["defaultLogin"]" readonly="true"/>
                        
                        
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Login)
                    }
                    @Html.ValidationMessageFor(model => model.Login)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                     @if (ViewData["defaultPassword"] != null)
                    {
                        @*@Html.EditorFor(model => model.Password, new {@Value = ViewData["defaultPassword"], @readonly = true})
                         *@
                    
                     <input type="password" id="Password" name="Password" value="@ViewData["defaultPassword"]" readonly="true" />
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Password)
                    }
                    
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div>
                    @Html.CheckBox("enableTxts", false) Ввести руками
                </div>
                <div class="editor-label">
                    Заказчик
                </div>
                <div>
                    @Html.DropDownList("IdCustomer", (ViewData["customers"] as SelectList))
                </div>

                <div class="editor-label">
                    Описание
                </div>
                <div>
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                 <div class="editor-label">
                    Производитель
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Makers", (SelectList)ViewData["makers"], new { onChange = "fillDepartmentsDdl();" })
                </div>

                <div class="editor-label">
                    Модель
                </div>
                <div>
                    <select id="IdModel" name="IdModel" class="selectpickerDeps"></select>
                </div>

               <div class="editor-label">
                    @Html.CheckBox("IsActive") Активно
                </div>

                <div class="editor-label">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                    @Html.ActionLink("Назад", "Index", "Settings", null, new { @class = "btn btn-primary" })
                </div>
            </div>
            <div class="well device-parameters">
                <input type="button" id="btnAddParam" class="btn btn-link" value="Добавить параметр к устройству" />
            </div>
        </div>
        <div id="parametersList" title="Выберите параметры для устройства"></div>

    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
