@model IEnumerable<DomainModel.EfModels.DeviceEntity>

@{
    ViewBag.Title = "GetAll";
    Layout = null;
    
}

<h2 class="MainPanel_Index_Zag">
    Список устройств
    <p class="Sett_Ind_kn">
        @Html.ActionLink("Добавить новое", "Add")
    </p>
</h2>
<table class="table table-hover">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Порт
        </th>
        <th>
            Заказчик
        </th>
        <th>
            Модель
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Port)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceModel.ModelName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { idDevice = item.IdDeviceEntity }) |
            @Html.ActionLink("Подробности", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Удалить", "Remove", new { id = item.IdDeviceEntity}, new { onclick = "return confirm('Вы уверены?');" })
        </td>
    </tr>
}

</table>
