@model UI.Models.NotificationModel

@{
    ViewBag.Title = "Add";
}
@*    <script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.js"></script>*@
@section scripts
{
    <script>

        var notifEmailCnt = 0;
        var notifNumberCnt = 0;
        $(document).ready(function () {

            $('#btnNotifications').click(function () {
                $('#modalNotifications').html('');

                $('#modalNotifications').dialog({
                    autoOpen: false,
                    height: 500,
                    width: 400,
                    show: { effect: "toggle", duration: 800 },
                    zIndex: 10000000,
                    buttons: {
                        "Применить": function () {
                            $('#notif-emails').html('');
                            $('#notif-numbers').html('');

                            $("input#notif:checked").each(function () {

                                if ($(this).attr('objType') == 'email') {
                                    $('#notif-emails').append('<div>' + $(this).attr('objVal')
                                            + '<input type="hidden" name="EmailNotifications[' + notifEmailCnt + '].IdEmailEntity" value="' + $(this).attr('objVal') + '" />'
                                        + '</div>');
                                    notifEmailCnt++;
                                }
                                else {
                                    $('#notif-numbers').append('<div>' + $(this).attr('objVal')
                                            + '<input type="hidden" name="PhoneNotifications[' + notifNumberCnt + '].IdPhoneEntity" value="' + $(this).attr('objVal') + '" />'
                                        + '</div>');
                                    notifNumberCnt++;
                                }
                            });
                            $('#modalNotifications').dialog('close');
                        }
                    },
                    zIndex: 100000
                });
                $.ajax({
                    url: "/Users/NotificationsUsers",
                    type: "GET",
                    success: function (data) {
                        $('#modalNotifications').html(data);
                    }
                })
                $('#modalNotifications').dialog('open');
            })

        })

    </script>
}
<style>
    .welll {
        width: 101%;
    }

        .welll div {
            width: 90%;
            font-family: Corbel;
            font-size: 14px;
            color: #221f1e;
            text-align: left;
            margin-left: 4px;
            height: 22px;
            overflow: hidden;
            font-style: italic;
            margin-bottom: 2px;
        }

            .welll div p {
                float: left;
                margin-right: 5px;
                width: 144px;
                text-align: center;
            }

    #paramValues {
        width: 101%;
    }

    hr {
        /* margin-top: 20px; */
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .Devices_Add_Zag {
        height: 30px;
        margin: 0PX;
        font-size: 18PX;
        /* padding-left: 200PX; */
        /* border-radius: 2PX 2PX 2PX 1PX; */
        min-width: 739.1px;
        font-weight: 700;
        font-family: -webkit-body;
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        font-style: normal;
        padding-top: 2PX;
        position: relative;
        border-top: 1px solid #8A8988;
        border-bottom: 1px solid #8A8988;
        background: #edecec;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #edecec 1%, #c5c5c5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#edecec), color-stop(100%,#c5c5c5));
        background: -webkit-linear-gradient(top, #edecec 1%,#c5c5c5 100%);
        background: -o-linear-gradient(top, #edecec 1%,#c5c5c5 100%);
        background: -ms-linear-gradient(top, #edecec 1%,#c5c5c5 100%);
        background: linear-gradient(to bottom, #edecec 1%,#c5c5c5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edecec', endColorstr='#c5c5c5',GradientType=0 );
        color: #525353;
        box-shadow: 0px 2px 4px #838383;
    }

    .Add_Kn2 {
        height: 18px;
        /* padding: 19px; */
        /* margin-bottom: 25px; */
        background-color: #f5f5f5;
        /* border: 1px solid #e3e3e3; */
        /* border-radius: 4px; */
        /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
        /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
        font-size: 10PX;
        color: #1AA0E1;
        /* padding: 2PX; */
        /* padding-top: 0PX; */
        text-align: -webkit-auto;
        line-height: normal;
        margin-left: 30PX;
        margin-top: 1PX;
        float: left;
        border: none;
        position: absolute;
        top: 2px;
        left: 3px;
    }

    form {
        height: 492px;
        display: run-in;
        /* padding: 19px; */
        /* margin-bottom: 20px; */
        background-color: #f5f5f5;
        border-left: 1px solid #525353;
        border-bottom: 1px solid #525353;
        border-right: 1px solid #525353;
        min-height: 230px;
    }

    .Devices_Add_Div {
        padding-left: 12px;
        background-color: #F5F5F5;
        position: relative;
        width: 32%;
        float: left;
        /* border-right: 1px solid #A7A6A5; */
        height: 90%;
        /* margin-right: 5px; */
        margin-top: 10PX;
    }

    #DeltaValue, #DeltaTime {
        width: 60%;
        /* border-radius: 4px; */
        border: 1px solid #a7a6a5;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        height: 20px;
        margin-bottom: 5px;
        line-height: normal;
    }

    #paramOid, #paramName {
        width: 57%;
        border-radius: 4px;
        border: 1px solid #a7a6a5;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        height: 20px;
        line-height: normal;
    }



    .Contener {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: #F5F5F5;
    }

    .ZagH3 {
        color: #fff;
    }

    .Add_Kn_2 {
        /* display: inline-block; */
        padding: 2px 4px;
        /* margin-right: 3px; */
        /* margin-top: 0px; */
        font-size: 13px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 21px;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        position: absolute;
        bottom: 10PX;
        right: 16px;
    }

    #spanDeleteParam {
        background: url('/Content/images/icons/delete.png') center no-repeat;
        width: 14px;
        height: 14px;
        overflow: hidden;
        float: right;
        margin-top: 15px;
    }

    .NewH {
        width: 76.9%;
        border-radius: 0px;
        border: none;
        font-size: 16px;
        background-color: #F5F5F5;
        height: 26px;
        font-weight: 700;
        font-family: Arial,Calibri,Tahoma;
        text-align: center;
        letter-spacing: 1px;
        font-style: italic;
        padding-top: 2PX;
        position: relative;
        float: right;
        border-bottom: 1px solid #A7A6A5;
    }

    .DeviceModels_Add_Kn {
        padding: 2px 4px;
        /* margin-right: 3px; */
        /* margin-top: 0px; */
        font-size: 13px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 21px;
        float: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
        position: absolute;
        top: 157px;
        left: 115px;
    }

    .editor-field {
        margin: 0px;
    }

    #simplemodal-container h3 {
        color: #00AFF0;
        text-align: center;
    }

    #enableTxts {
        margin-top: 10px;
    }

    .Dev_Zagalovok {
        font-family: Corbel;
        font-size: 14px;
        color: #5A5A58;
        text-align: left;
        margin-bottom: 2px;
        height: 21px;
        font-style: normal;
        text-shadow: 0px 0px 2px #fff;
        /* align-content: flex-start; */
        /* text-align: start; */
        float: left;
        width: 80PX;
        text-align: center;
    }

    .Dev-Zagalovok {
        font-family: Corbel;
        font-size: 15px;
        color: #00AFF0;
        text-align: left;
        /* margin-bottom: 2px; */
        height: 21px;
        font-style: normal;
        font-weight: 500;
        width: 147px;
        float: left;
        margin-bottom: 5px;
    }


    .alert {
        margin-bottom: 0px;
        padding: 6px;
    }

        .alert p {
            text-align: center;
            font-size: 14px;
        }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
        height: 0px;
        width: 1px;
        overflow: hidden;
    }

    .Dev_Zagalovok_2 {
        width: 90%;
        font-family: Corbel;
        font-size: 14px;
        color: #221f1e;
        text-align: left;
        margin-left: 4px;
        height: 22px;
        overflow: hidden;
        font-style: italic;
        margin-bottom: 2px;
    }

        .Dev_Zagalovok_2 > p {
            float: left;
            margin-right: 5px;
            width: 144px;
            text-align: center;
        }

    .device-parameters, .wellllt {
        width: 40%;
        /* float: right; */
        border-radius: 0px;
        /* margin-top: 2px; */
        background-color: #F5F5F5;
        /* padding-left: 10px; */
        min-height: 20px;
        /* background-color: #f5f5f5; */
        /* border: 1px solid #e3e3e3; */
        -webkit-box-shadow: inset 0 1px 1px #F5F5F5;
        box-shadow: inset 0 1px 1px #F5F5F5;
        border-left: none;
        /* border-right: 1px solid #fff; */
        position: relative;
        margin-left: 40px;
    }

    .description {
        float: right;
        /* border: 1px solid #000; */
        width: 36.456%;
        min-height: 191px;
        margin-top: -100px;
        /* margin-left: -17px; */
        border-left: 1px solid #D8D7D6;
    }

    .polossa {
        width: 98.5%;
        height: 2px;
        border-top: 1px solid #D8D7D6;
        border-bottom: 1px solid #fff;
    }

    .Add_Kn_3 {
        overflow: hidden;
        width: 19px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: 24px;
        background: url('/Content/images/icons/0010.png') center no-repeat;
        border: none;
        /* box-shadow: 0px 0px 3px #fff; */
        margin-right: 20px;
    }

    .polossa_2 {
        width: 94%;
        background: #A7A6A5;
        height: 2px;
        position: absolute;
        top: 188px;
        left: 5px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #A7A6A5;
    }

    #ParameterName, #OID {
        width: 50%;
        border: 1px solid #a7a6a5;
        font-size: 10px;
        padding-left: 2px;
        font-family: Arial;
        color: #000;
        font-weight: 300;
        letter-spacing: 1px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: all 2s ease-in-out;
        height: 20px;
        line-height: normal;
        margin-bottom: 5px;
    }

    .Dev_Zagal {
        margin-left: 60px;
        color: #ff0000;
        width: 150px;
    }

    #AddEmail {
        font-size: 14px;
        height: 21px;
        margin-top: 0px;
        /* vertical-align: -webkit-baseline-middle; */
        /* font-family: sans-serif; */
        padding: 0px;
        text-align: center;
        /* box-sizing: border-box; */
        margin-left: 60px;
    }


    #AddPhoneNumber {
        font-size: 14px;
        height: 21px;
        margin-top: 0px;
        /* vertical-align: -webkit-baseline-middle; */
        /* font-family: sans-serif; */
        padding: 0px;
        text-align: center;
        /* box-sizing: border-box; */
        margin-left: 18px;
    }
    #notifsList {

        width:50%;
    
    }
    
     .well_new3 {
        /* min-height: 20px; */
        /* padding: 19px; */
        /* margin-bottom: 20px; */
        /* background-color: #f5f5f5; */
        /* border: 1px solid #e3e3e3; */
        /* border-radius: 4px; */
        /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
        /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
        text-align: center;
        border-bottom: 1px solid #D0CBCB;
        margin-bottom: 2px;
        width: 70%;
        margin-top: 2PX;
    }
    #notif-numbers {
     }
    p.btn.btn-link {
        border-bottom: 1px solid #CCCEDB;
        width: 100%;
        height: 20px;
        padding: 0px;
    }
    #notif-emails {
        
    }
       #notifsList {
        width:45%;
        overflow:hidden;

    }
    .left_content {
        width:45%;
        float:left;
        overflow:hidden;
        height:200px;
    }
    .righ_content {
        height:200PX;
        width:45%;
        float:right;
        overflow:hidden;
    }
    div#notif-emails div,div#notif-numbers div {
        text-align: center;
        border-bottom: 1px solid #DCD5D5;
        border-top: 1px solid #fff;
    }
 #btnNot {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20%;
    }
    .ImagesAddNotif {
        position: absolute;
        top: 5px;
        right: 65px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        background: url('/Content/images/icons/OPOV.png') center no-repeat;
    }
    .Add_Kn_Ok {
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        right: 35px;
        top: 5px;
        background: url('/Content/images/icons/images.png') center no-repeat;
        border: none;
    }

    .Add_Kn {
        width: 20px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        top: 5px;
        background: url('/Content/images/icons/images2.png') center no-repeat;
        border: none;
    }
</style>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <legend class="Devices_Add_Zag">
            Добавление оповещения
            <input type="submit" class="Add_Kn_Ok" value="" />
            <p class="ImagesAddNotif" id="btnNotifications"></p>
            <a href="/Settings/Index#" class="Add_Kn"></a>
            @*<input type="submit" value="Добавить" id="btnNot" class=" btn btn-primary" />*@
        </legend>
        if (ViewData["message_error"] != null)
        {
            <div class="alert alert-error field-validation-error">
                <p>@ViewData["message_error"]</p>
            </div>
        }
        if (ViewData["message"] != null)
        {
            <div class="alert alert-success">
                <p>@ViewData["message"]</p>
            </div>

        }
        <div class="Devices_Add_Div">
            <div class="editor-label">
                @Html.Hidden("IdDevicesItems", TempData["IdDevicesItems"])
            </div>
            <div>
                @Html.Hidden("IdDevice", TempData["IdDevice"])
            </div>

            <div>
                @Html.Hidden("IdItem", TempData["IdItem"])
            </div>

            <div class="Dev_Zagalovok">
                @Html.LabelFor(model => model.DeltaTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DeltaTime)
                @Html.ValidationMessageFor(model => model.DeltaTime)
            </div>

            <div class="Dev_Zagalovok">
                @Html.LabelFor(model => model.DeltaValue)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DeltaValue)
                @Html.ValidationMessageFor(model => model.DeltaValue)
            </div>

             <div class="Dev_Zagalovok">
                @Html.LabelFor(model => model.Hi)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Hi)
                @Html.ValidationMessageFor(model => model.Hi)
            </div>

            <div class="Dev_Zagalovok">
                @Html.LabelFor(model => model.Low)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Low)
                @Html.ValidationMessageFor(model => model.Low)
           </div>

        </div>
        <div id="notifsList">
            <div class="left_content">
                <p class="btn btn-link">Список адресов</p>
                <div id="notif-emails"></div>
            </div>
            <div class="righ_content">
                <p class="btn btn-link">Список телефонов</p>
                <div id="notif-numbers"></div>
            </div>
        </div>
        <div id="modalNotifications" title="Выберите, кого нужно оповестить"></div>
           
    
}

